 #main-body
            #main-content
                #wrapper"
                    .confirmation-container
                        .checkout
                                a.utilityBtns(href="../MainPages/Shipping.html")
                                    p Shipping
                               
                                a.utilityBtns(href="../MainPages/CheckoutPage.html")
                                    p Checkout
                               
                                a.activeBtn(href="../MainPages/Confirmation.html")
                                    p Confirmation
                                
                           .order
                                h2 Your order summary
                                .cart-item-section
                                
                                h4#ship
                                    |Shipping: FREE

                                hr
                                h3#total TOTAL: $16,384.99
                            <a href="../MainPages/thankyou.html" class="buyBtn">
                                |Buy Now
         