
#footer
    #footer
        a.footer-link(href="../MainPages/index.html")
            h5 Home
        a.footer-link(href="../MainPages/shop.html")
            h5 Shop
        a.footer-link(href="../MainPages/about.html")
            h5 About Us
        a.footer-link(href="../MainPages/faq.html")
            h5 FAQ
        a.footer-link(href="../MainPages/login.html")
            h5 Login
        a.footer-link(href="../MainPages/membership.html")
            h5 New Membership