doctype html
html
head
    title= title
    link(rel="stylesheet" href="./Styles/style.css")
    link(rel="stylesheet" href="./Styles/productStyle.css")
    <script type="text/javascript" src="./JavaScripts/header.js"></script>
    <script type="text/javascript" src="./JavaScripts/read.js"></script>
    <script type='text/javascript' src='./JavaScripts/ShopFilter.js'></script>
    <link rel="stylesheet" href="./Styles/AriStyle.css">
    <link rel="stylesheet" href="./Styles/style.css">
body
    include ./header.jade
    #main-body
        include ./sidebar.jade
        include ./shop.jade
    include ./footer.jade