/* Chris Camano Product style sheet
slider code modified and implmented from https://codepen.io/alvarotrigo/pen/bGqgqeK
Font size modifiers imported from W3 schools
 */



body {
    width: 100%;
    min-height: 100vh;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: 'roboto', sans-serif;
    background-color: #e0edc2;
}

.product{
    border-radius: 25px;
    background: rgba(189, 211, 163, 0.7);
    margin-left: 4%;
    position: relative;
    width: 70%;
  
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}


  
  .slider-container {
    margin-top: 5%;
    border-radius: 25px;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;

  }
  
  .slider {
    max-width: 100%;
    height: auto;
    margin: 20px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
  }
  
  .slides {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .slide {
  
    align-self: center;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    
    width: 100%;
    height: auto;
    scroll-snap-align: center;
    margin-right: 0px;
    box-sizing: border-box;
    transform-origin: center center;
    transform: scale(1);
  }

  
  .slide a {
    background: none;
    border: none;
  }
  
  a.slideprev,
  .slider::before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 5%;
  }
  
  a.slidenext,
  .slider::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5%;
  }
  
  .slider::before,
  .slider::after,
  .slideprev,
  .slidenext {
    position: absolute;
    top: 48%;
    width: 35px;
    height: 35px;
    border: solid black;
    border-width: 0 4px 4px 0;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .slider::before,
  .slider::after {
    content: "";
    z-index: 1;
    background: none;
    pointer-events: none;
  }
 



  
.product-gallery{

    width:40%;
    border-radius: 25px;
    margin-right:30px;
    opacity:1 ;
    background: rgba(019,046,000,0.7);
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    transform: translateY(-50px);
    animation: fade-in 1s forwards 1;
}

.product-gallery img{
    width: 100%;
    height: auto;
    object-fit: contain;
    
}


.product-listing{
    margin-right: 0;
    border-radius: 25px;
    width: 40%;
    height: 85%;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    background: rgba(019,046,000,0.7);
    padding: 3em;
    display: flex;
    justify-content: center;
    color: #eae3d2;
    opacity: 0;
    transform: translateY(50px);
    animation: fade-in 1s forwards 1;
}

@keyframes fade-in{
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.listing-text{
    font-size: 5px;
}

.name{
    font-family: 'dosis';
    font-size: 70px;
    text-transform: capitalize;
    margin: 0;
}

.info{
    font-size: 18px;
    line-height: 30px;
    margin: 50px 0;
}

.price{
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 20px;
}

.btn-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
a.buyBtn{
    display:inline-block;
    margin-bottom:3%;
    border-radius:15px;
    height: 7%;
    width:95%;
    text-align: center;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight: Bold;
    color:#FFFFFF;
    background-color:#739421;
    text-align:center;
    transition: all 0.2s;
    font-size: 1.5em;
    padding-top: 0.75em;
}


a.buyBtn:hover{
    background-color:#a0cf2b;
}  
 

.btn{
    background: #eae3d2;
    color: #292929;
    border: none;
    text-transform: capitalize;
    font-size: 23px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn:hover{
    background-color: #eedbaf;
}
.name{
    font-family: 'dosis';
    font-size: 50px;
    text-transform: capitalize;
}
.advertpage{
margin: 1%;
}


.listingext .price {
  font-size: 2em;
}